<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <h1>Create New Post</h1>
<form action="/photos">
  <button type="submit">Back</button>
</form>

<form action="/photos" method="post">
  <input type="text" name="screenName" id="" placeholder="user">
  <input type="text" name="url" placeholder="img">
  <textarea name="text" id="" cols="30" rows="10" placeholder="about the photo"></textarea>
  <button type="submit">Create Post</button>
</form>
</body>
</html>