<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <h1>Welcome to Photo Drop</h1>

  <form action="/users" method="get">
  <button type="submit">Home</button></form>

  <form action="/users" method="post">
  <input type="text" name='screenName'placeholder="username">
  <input type="text" name='password' placeholder="password">
  <button type="submit">Create User</button>
  </form>
  
</body>
</html>