<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Edit your info</h1>
  <h2><a href="/">Home</a></h2>
  <h2><%=user.screenName%>'s info</h2>
  
  <form action="/users/<%=user.id%>/update?_method=PUT" method="POST">
    <input type="text" name="screenName" value="<%=user.screenName%>" >
    <button type="submit"> Update User</button>
  </form>
  
</body>
</html>