<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <h1>Meet the Talented Photographers</h1>
  <form action="/" method="get">
  <button type="submit" >Home</button>
  </form>

  <form action="/users/create" method="get">
    <button type="submit" >Add Your Info!</button>
    </form>

    <%for(let i = 0; i<users.length; i++) {%>
        <p> <%=users[i].screenName%> </p>
      <%}%>
  
</body>
</html>