<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  
  <h1><%=user.screenName%></h1>
  <form action="/users" method="get">
  <button type="submit">Home</button></form>
  <form action="/users" method="get">
    <button type="submit">Back to User Index</button></form>
<% for(let i =0 ; i<user.photos.length; i++) {%>
  <img src="<%=user.photos[i].url%>" alt="<%= user.photos[i].text%>">
<%}%>

    <form action="/users/<%=user.id%>/edit" method="get">
      <button type="submit">Edit Profile</button></form>

  
</body>
</html>